        body
        {
            color: #00AEEF;
            text-decoration: none;
        }
        a
        {
            text-decoration:none;
            color: #00AEEF;
        }
        button
        {
            color:#00AEEF;
            border-radius: 10px;
        }
        button:hover
        {
            background-color:#00AEEF;
            color: white;
        }
        .navigation-container
        {
            width:100%;
            display: grid;
            grid-template-columns: auto auto auto auto auto;
            grid-auto-rows: auto;
            align-items: center;
            text-align: center;
            border: 1px solid;
        }
        .navigation-container div
        {
            border: 1px solid;
        }
        .home-container
        {
            display: grid;
            grid-template-columns: auto auto;
            grid-auto-rows: auto;
            align-items: center;
            text-align: center;  
            width:100%;
        }
        .text-container
        {
            width: 100%;
            height: 200px;
            border: 1px solid;
            text-align: center;
        }
        .image-container
        {
            width:100%;
            height:200px;
            border: 1px solid;
        }
        .big-container
        {
            width:100%;
            border:1px solid;
            grid-template-rows: auto auto;
        }
        .team-container
        {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-auto-rows: auto;
            align-items: center;
            text-align: center;
            width:90%;
            align-content: center;
            grid-gap: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .cerc1
        {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 50%;
            padding-top: 100%;
            border: 1px solid;
            margin-bottom:75px;
            margin-top:75px;
        }
        .cerc1:hover
        {
            background-color: #00AEEF;
            color: white;
        }
        .cerc2
        {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 50%;
            padding-top: 100%;
            border: 1px solid;
            margin-bottom:75px;
            margin-top:75px;
        }
        .cerc2:hover
        {
            background-color: #0000FF;
            color: white;
        }
        .cerc3
        {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 50%;
            padding-top: 100%;
            border: 1px solid;
            margin-bottom:75px;
            margin-top:75px;
        }
        .cerc3:hover
        {
            background-color: #FF00FF;
            color: white;
        }
        .about-container
        {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-auto-rows: auto;
            align-items: center;
            text-align: center;
            width:90%;
            margin-left: auto;
            margin-right: auto;
            align-content: center;
            grid-gap: 15px;
        }
        .card1
        {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 20%;
            padding-top: 100%;
            border: 1px solid;
            margin-bottom:75px;
            margin-top:75px;
        }
        .card1:hover
        {
            background-color: #00AEEF;
            color: white;
        }
        .card2
        {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 20%;
            padding-top: 100%;
            border: 1px solid;
            margin-bottom:75px;
            margin-top:75px;
        }
        .card2:hover
        {
            background-color: #00AEEF;
            color: white;
        }
        .card3
        {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 20%;
            padding-top: 100%;
            border: 1px solid;
            margin-bottom:75px;
            margin-top:75px;
        }
        .card3:hover
        {
            background-color: #00AEEF;
            color: white;
        }
        .card4
        {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 20%;
            padding-top: 100%;
            border: 1px solid;
            margin-bottom:75px;
            margin-top:75px;
        }
        .card4:hover
        {
            background-color: #00AEEF;
            color: white;
        }
        .contact-container
        {
            width: 100%;
            text-align: center;
            font-size:25px;
            border: 1px solid;
        }